# See https://help.github.com/ignore-files/ for more about ignoring files.


# dependencies
/node_modules/*


# testing
/coverage/*
/dist/*
/.tmp/*

# production
/build/*

# misc
.DS_Store
**/.DS_Store
.env.local
Thumbs.db
desktop.ini
.cache/**

# IDE
*.sublime-*
*.code-workspace
/.idea
.vscode/*
*~

**/log/
npm-debug.log*
