---
import MainLayout from '../layouts/MainLayout.astro';
import Nav from '../components/Nav.astro';
---


<MainLayout>
    <nav slot="nav">
        <Nav />
    </nav>
    <label for="documentType" class="dev">Document Aadhaar </label>
    <h3>Please Enter the details in form</h3>
    <p class="tit">*all feilds are mandatory</p>
    <section>
        <form id="aadhaarForm">
           
           
            <div id="documentFields">
                <div class='formContainer' id='aadhaar'>
                    <label for="documentNumber_aadhaar" class="num">Enter Aadhaar Number</label>
                    <input type="text" id="documentNumber_aadhaar" name="documentNumber" required>
                    <label for="holdingPersonName_aadhaar" class="nam">Enter Aadhaar Name</label>
                    <input type="text" id="holdingPersonName_aadhaar" name="holdingPersonName" required>
                    <label for="DOB_aadhaar" class="dob">Date of Birth</label>
                    <input type="date" id="DOB_aadhaar" name="DOB" required>
                    <label for="aadhaarAddress" class="add">Enter Aadhaar Address</label>
                    <textarea id="aadhaarAddress" name="aadhaarAddress" required></textarea>
                    <div class="gendercontainer">
                        <label for="gender" class="gen">Gender</label>
                        <div class="g">
                          <input type="radio" id="gender_male" name="gender" value="male" required checked>
                          <label for="gender_male">Male</label>
                          <input type="radio" id="gender_female" name="gender" value="female" required>
                          <label for="gender_female">Female</label>
                        </div>
                      </div>
                                                              
                    </div>
                </div>
            </div>
            
           

        </form>

        <div class="button-container">
            <button type="button" class="resetButton">Reset</button>
            <button type="submit" class="saveButton">Save</button>
        </div>
    
    </section>
    <div class="container">
        <div class="item header">
            <div>#</div>
            <div>Document</div>
            <div>Info</div>
            <div>Name</div>
            <div>Gender</div>
            <div>DOB</div>
            <div>Actions</div>
        </div>
    </div>
    <div id="canvasContainer" style="display: none;">
        <canvas id="aadhaarCanvas"></canvas>
        <button id="downloadButton" style="display: none;">Download Image</button>
    </div>
    <script src="/src/scripts/app.js"  is:inline></script>
</MainLayout>