---
import MainLayout from '../layouts/MainLayout.astro';
import Nav from '../components/Nav.astro';
---
<MainLayout>
    <nav slot="nav">
        <Nav />
    </nav>
    <section>
        <h1>Welcome to the Document Storage Application</h1>
        <p class="tit">Select a document type from the navigation to get started</p>
    </section>
</MainLayout>
