.card-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #fff1d5;
    border: 2px solid #9b9b9b81;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    transition: max-height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),padding 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    width: 100%;
    text-align: center;
}

.card-header h2 {
    margin: 0 0 5px;
    font-size: 1.2em;
    word-wrap: break-word;
}

.card-header p {
    margin: 3px 0;
    font-size: 0.9em;
}

.card-body {
    display: none;
    padding-top: 20px;
}

.card.open {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: visible;
    padding-bottom: 20px;
    margin-bottom: 1em;
}

.card.open .card-body {
    display: block;
}

.surname-section {
    position: relative;
    padding-top: 20px;
}

.surname-heading {
    text-align: center;
    margin-bottom: 20px;
}

.surname-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.surname-card {
    position: relative;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.surname-card p
{
  font-size:1.3em; 
  font-weight: 600;
}

.copy-button {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 30px;
    background-color: #fff;
    background-image: url(/copy-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    /* padding: 0.5em 1em; */
    cursor: pointer;
    /* font-size: 1em; */
    transition: background-color 0.3s ease; 
  }

  .copied-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    top: -20px;
    right: 0;
    white-space: nowrap;
    z-index: 10;
  }

  .card p
  {
    font-size: 1.1em;
  }

  .card p span
  {
    font-weight: 500;
  }

  .card .copy-button-all
  {
    display: none;
  }

  .open .copy-button-all
  {
    display: block;
    margin-top: 2em;
    padding: 1em 1em;
    border: none;
    border-radius: 10px;
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    .surname-card {
      padding: 0.8em;
    }
  
    .copy-button {
      top: 0.5em;
      right: 0.5em;
      padding: 0.4em 0.8em;
      font-size: 0.9em;
    }
  }
  @media screen and (max-width: 469px) {
    .surname-card {
      padding: 0.8em;
    }
  }
  
  
  @media screen and (max-width: 495px) {
    #card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

      .card
    {
      margin-bottom: 2.5em;
    }
  }

.surname-card > p
{
    text-align: left;
}

.surname-card span
{
    text-align: left;
    font-weight: 600;
}

.surname-card .surname-head
{
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
}

.surname-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.surname-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.surname-card p {
    margin: 5px 0;
    font-size: 0.9em;
}
