@font-face 
{
    font-family: gilroy;
    src: url(/gilroy/Gilroy-Regular.ttf);
}

body 
{
    margin: 0;
    padding: 0;
    height: fit-content;
    color: #fff;
    /* background: #60b7ff; */
    background-image: url(../../public/india.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "PP Woodland";
}

.card
{
    color: #000;
}

/* Scrollbar styles */
::-webkit-scrollbar 
{
    width: 6px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb 
{
    background: #8e8e8e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #8e8e8e; 
}

#header-title 
{
    margin: 1em;
    font-size: 3em;
    text-align: center;
    font-family: "PP Woodland";
}

#text 
{
    letter-spacing: 8px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    animation: typing 3s steps(23), cursor 3s step-end infinite alternate;
    animation-timing-function: linear;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0; }
}
