@font-face {
    font-family: Gilroy;
    src: url(../../public/gilroy/Gilroy-Regular.ttf);
}

body
{
    /* background : url(../../public/voxels-republic-eUBp69MTaNU-unsplash.jpg); */
    background-color: #171616;
    background-size: cover;
    color: #fff;
    font-family: "Gilroy";
    padding: 0 4em;
}


h1
{
    text-align: center;
    text-decoration: underline #858585;
    font-size: 2em;
    margin-bottom: 1.5em;
    background: #251FAE;
    background: linear-gradient(to right, #a29eff 31%, #cd8fff 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Scrollbar styles */
::-webkit-scrollbar 
{
    width: 6px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb 
{
    background: #8e8e8e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #8e8e8e; 
}

