#header-title 
{
    margin: 1em;
    font-size: 3em;
    text-align: center;
    font-family: "PP Woodland";
}

#text 
{
    letter-spacing: 8px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    animation: typing 3s steps(23), cursor 3s step-end infinite alternate;
    animation-timing-function: linear;
}

@keyframes cursor 
{
    50% { border-color: transparent }
}   

@keyframes typing
{
    from { width: 0; }
}
    
@media screen and (max-width: 950px)
{
    #text
        {
            font-size: 28px;
            white-space: wrap;
        }
}
