@font-face 
{
    font-family: gilroy;
    src: url(/gilroy/Gilroy-Regular.ttf);
}


#desc 
{
    color: #7A83F6;
    font-weight: 600;
    margin: auto;
    width: 60%;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2em;
    font-family: "gilroy";

}

@media screen and (max-width : 660px)
{
    #desc 
    {
        font-weight: 600;
    }
}