---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Tabel from "../components/Tabel.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import FormLayout from "../layouts/FormLayout.astro";

const fields = [
  {
    id: "doc-number",
    label: "Aadhaar Number",
    type: "text",
    name: "documentNumber",
    placeholder: "1234 5678 9012",
    pattern: "[0-9]{12}",
    required: true,
  },
  {
    id: "doc-name",
    label: "Name on Aadhaar",
    type: "text",
    name: "holdingPersonName",
    placeholder: "RAM SINGH",
    required: true,
  },
  {
    id: "doc-dob",
    label: "Date of Birth",
    type: "date",
    name: "DOB",
    required: true,
  },
  {
    id: "doc-address",
    label: "Aadhaar Address",
    type: "textarea",
    name: "aadhaaraddress",
    placeholder: "as per aadhaar",
    required: true,
  },
];
const inlineStyle = `
  background-color: antiquewhite;
`;

const buttonList = [
  { name: "reset", class: "reset__button", type: "button" },
  { name: "save", class: "save__button", type: "submit" },
];
---

<MainLayout>
  <Heading headingText="Please enter the details in the below form" subheadingText="all fields are required" />
  <section>
    <FormLayout
      formId="aadhaar"
      formName="aadhaar"
      fields={fields}
      genderLabel="Gender"
      style={inlineStyle}
    />
    <ButtonGroup group={buttonList} />
  </section>
  <Tabel />
  <div id="canvasContainer" class="canvas" style="display: none;">
    <canvas id="aadhaarCanvas"></canvas>
    <button id="downloadButton" class="download" style="display: none;"
      >Download Image</button
    >
  </div>
</MainLayout>
<script is:inline type="module">
  import { generateImage } from "/scripts/image.js";
  import {
    formatDate,
    convertToDateInputFormat,
    deleteItem,
    handleSubmit as formHandleSubmit,
    resetForm as resetform,
  } from "/scripts/formHandlers.js";

  const aadhaarForm = document.getElementById("aadhaar");
  const saveButton = document.querySelector(".save__button");
  const resetButton = document.querySelector(".reset__button");
  const container = document.querySelector(".container");
  const canvas = document.getElementById("aadhaarCanvas");
  const context = canvas ? canvas.getContext("2d") : null;
  let currentEditItem = null;

  if (!context) {
    console.error("Canvas context could not be obtained.");
  } else {
    const handleSubmit = (event) => {
      formHandleSubmit(event, aadhaarForm, currentEditItem, container, {
        type: "Aadhaar",
        additionalFields: ["aadhaaraddress"],
      });
      currentEditItem = null;
    };

    const resetForm = () => {
      resetform(aadhaarForm);
      currentEditItem = null;
    };

    const editItem = (event) => {
      const item = event.target.closest(".item");

      const documentNumber = item.dataset.documentNumber;
      const holdingPersonName = item.dataset.holdingPersonName;
      const gender = item.dataset.gender;
      const DOB = item.dataset.dob;
      const aadhaaraddress = item.dataset.aadhaaraddress;

      aadhaarForm.querySelector("#doc-number").value = documentNumber;
      aadhaarForm.querySelector("#doc-name").value = holdingPersonName;
      aadhaarForm.querySelector("#doc-dob").value =
        convertToDateInputFormat(DOB);
      aadhaarForm.querySelector(`#gender_${gender}`).checked = true;
      aadhaarForm.querySelector("#doc-address").value = aadhaaraddress;

      currentEditItem = item;
    };

    const viewItem = (event) => {
      const item = event.target.closest(".item");

      const aadhaar_detail = {
        number: item.dataset.documentNumber,
        name: item.dataset.holdingPersonName,
        gender: item.dataset.gender === "male" ? "♂" : "♀",
        dob: item.dataset.dob,
        doe: item.dataset.doe,
      };
      generateAadhaarImage(aadhaar_detail);
    };

    const buildDetail = ({ type, detail }) => {
      const details = [
        { label: "Number:", value: detail.number },
        { label: "Name:", value: detail.name },
        { label: "Gender:", value: detail.gender === "♂" ? "Male" : "Female" },
        { label: "Date of birth:", value: detail.dob },
        { label: "Address:", value: detail.address },
      ];
      return { [type]: details };
    };

    const generateAadhaarImage = (dl_detail) => {
      const data = buildDetail({ type: "dl", detail: dl_detail });
      console.log({ data });
      generateImage({
        title: "--Aadhaar--",
        data,
        canvas: document.getElementById("aadhaarCanvas"),
        canvasContainer: document.getElementById("canvasContainer"),
        downloadButton: document.getElementById("downloadButton"),
        backgroundColor: "#D8BFD8",
        borderColor: "#FFC0CB",
      });
    };
    resetButton.addEventListener("click", resetForm);
    saveButton.addEventListener("click", handleSubmit);
    container.addEventListener("click", (event) => {
      if (event.target.classList.contains("delete__btn")) {
        deleteItem(event);
      } else if (event.target.classList.contains("edit__btn")) {
        editItem(event);
      } else if (event.target.classList.contains("view__btn")) {
        viewItem(event);
      }
    });
  }
</script>
