---
import MainLayout from "../layouts/MainLayout.astro";
import Nav from "../components/Nav.astro";
import Tabel from "../components/Tabel.astro";
import Button from "../components/Button.astro";
import FormLayout from "../layouts/FormLayout.astro";

const fields = [
  {
    id: "doc-number",
    label: "Aadhaar Number",
    type: "text",
    name: "documentNumber",
    placeholder: "1234 5678 9012",
    pattern: "[0-9]{12}",
    required: true,
  },
  {
    id: "doc-name",
    label: "Name on Aadhaar",
    type: "text",
    name: "holdingPersonName",
    placeholder: "RAM SINGH",
    required: true,
  },
  {
    id: "doc-dob",
    label: "Date of Birth",
    type: "date",
    name: "DOB",
    required: true,
  },
  {
    id: "doc-address",
    label: "Aadhaar Address",
    type: "textarea",
    name: "aadhaaraddress",
    placeholder: "as per aadhaar",
    required: true,
  },
];
const inlineStyle = `
  background-color: antiquewhite;
`;
---

<MainLayout>
  <nav slot="nav">
    <Nav />
  </nav>
  <div class="heading">
    <p>
      Please enter the details in the below form
      <span class="subheading">all fields are required</span>
    </p>
  </div>
  <section>
    <FormLayout
      formId="aadhaar"
      formName="aadhaar"
      fields={fields}
      genderLabel="Gender"
      style={inlineStyle}
    />
    <Button />
  </section>
  <Tabel />
  <div id="canvasContainer" class="canvas" style="display: none;">
    <canvas id="aadhaarCanvas"></canvas>
    <button id="downloadButton" class="download" style="display: none;"
      >Download Image</button
    >
  </div>
</MainLayout>

<script is:inline type="module">
  import { generateImage } from "/scripts/image.js";
  import {
    formatDate,
    convertToDateInputFormat,
    deleteItem,
    navLinks,
    handleSubmit as formHandleSubmit,
    createNewEntry as formCreateNewEntry,
    updateEntry as formUpdateEntry,
    resetForm as formResetForm,
  } from "/scripts/formHandlers.js";

  const aadhaarForm = document.getElementById("aadhaar");
  const saveButton = document.querySelector(".save__button");
  const resetButton = document.querySelector(".reset__button");
  const container = document.querySelector(".container");
  const canvas = document.getElementById("aadhaarCanvas");
  const context = canvas ? canvas.getContext("2d") : null;
  let currentEditItem = null;

  if (!context) {
    console.error("Canvas context could not be obtained.");
  } else {
    const handleSubmit = (event) => {
      formHandleSubmit(event, aadhaarForm, currentEditItem, container, {
        type: "Aadhaar",
        additionalFields: ["aadhaaraddress"],
      });
      currentEditItem = null; 
    };

    const resetForm = () => {
      formResetForm(aadhaarForm);
      currentEditItem = null; 
    };

    const editItem = (event) => {
      const item = event.target.closest(".item");
      const documentNumber = item.dataset.documentNumber;
      const holdingPersonName = item.dataset.holdingPersonName;
      const gender = item.dataset.gender;
      const DOB = item.dataset.dob;
      const aadhaaraddress = item.dataset.aadhaaraddress;

      aadhaarForm.querySelector("#doc-number").value = documentNumber;
      aadhaarForm.querySelector("#doc-name").value = holdingPersonName;
      aadhaarForm.querySelector("#doc-dob").value =
        convertToDateInputFormat(DOB);
      aadhaarForm.querySelector(`#gender_${gender}`).checked = true;
      aadhaarForm.querySelector("#doc-address").value = aadhaaraddress;

      currentEditItem = item; 
    };

    const viewItem = (event) => {
      const item = event.target.closest(".item");

      const aadhaar_detail = {
        number: item.dataset.documentNumber,
        name: item.dataset.holdingPersonName,
        gender: item.dataset.gender === "male" ? "♂" : "♀",
        dob: item.dataset.dob,
        address: item.dataset.aadhaaraddress,
      };

      generateDocumentImage({
        title: "--Aadhaar Card--",
        data: buildDetail({ type: "aadhaar", detail: aadhaar_detail }),
        canvas,
        canvasContainer: document.getElementById("canvasContainer"),
        downloadButton: document.getElementById("downloadButton"),
        styles: {
          backgroundColor: "#D8BFD8",
        },
      });
    };

    const buildDetail = ({ type, detail }) => {
      const details = [
        { label: "Number:", value: detail.number },
        { label: "Name:", value: detail.name },
        {
          label: "Gender:",
          value: detail.gender === "♂" ? "Male" : "Female",
        },
        { label: "Date of birth:", value: detail.dob },
        { label: "Address:", value: detail.address },
      ];
      return { [type]: details };
    };

    const generateDocumentImage = ({
      title,
      data,
      canvas,
      canvasContainer,
      downloadButton,
      styles,
    }) => {
      generateImage({
        title,
        data,
        canvas,
        canvasContainer,
        downloadButton,
        ...styles,
      });
    };

    if (resetButton) {
      resetButton.addEventListener("click", resetForm);
    } else {
      console.error("Reset button not found");
    }

    if (saveButton) {
      saveButton.addEventListener("click", handleSubmit);
    } else {
      console.error("Save button not found");
    }

    container.addEventListener("click", (event) => {
      if (event.target.classList.contains("delete__btn")) {
        deleteItem(event);
      } else if (event.target.classList.contains("edit__btn")) {
        editItem(event);
      } else if (event.target.classList.contains("view__btn")) {
        viewItem(event);
      }
    });
  }
</script>
