    
---
import Footer from "../layouts/Footer.astro";
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Visualization</title>
</head>
<body>
    <h1>Welcome to</h1>
    <h2>Recursive Zero's</h2>
    <h3>Tree Visualizations</h3>

    <div class="container">
        <h4><a href="/family/" target="_parent">&#x1F9EC; Family Tree Visualization</a></h4>
        <h4><a href="/indian-states/">&#x1F30F; India: States and Union Territories</a></h4>
    </div>

    <Footer/>
</body>
</html>
