---
import Main from "../layouts/Main.astro";
import StateHeader from "../layouts/StateHeader.astro";
import StateInfo from "../components/stateInfo.astro";
// import StateLegend from "../components/stateLegend.astro";
import Footer from "../layouts/Footer.astro";
import State from "../layouts/States.astro";
import StateDialog from "../components/stateDialog.astro";
import "../styles/statesGlobal.css"
---

<Main >
  <StateDialog/>
  <StateHeader />
  <StateInfo />
  <!-- <StateLegend/> -->
  <State />
  <Footer />
</Main>

