---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Tabel from "../components/Tabel.astro";
import FormLayout from "../layouts/FormLayout.astro";
import { VOTER_FIELDS } from "../utils/constant";

const inlineStyle = `
   background-color: rgb(219, 220, 249);
`;
const buttonList = [
  { name: "reset", class: "reset__button", type: "button" },
  { name: "save", class: "save__button", type: "submit" },
];
const headerList = ["Document", "Info", "Name", "Gender", "DOB", "Actions"];
---

<MainLayout>
  <Heading
    headingText="Please enter the details in the below form"
    subheadingText="all fields are required"
  />
  <section>
    <FormLayout
      formId="voterForm"
      formName="voterForm"
      fields={VOTER_FIELDS}
     
    />

    <ButtonGroup group={buttonList} />
  </section>

  <Tabel list={headerList} />
  <div id="canvasContainer" class="canvas" style="display: none;">
    <canvas id="voterCanvas"></canvas>
    <button id="downloadButton" class="download" style="display: none;"
      >Download Image</button
    >
  </div>
</MainLayout>

<script is:inline type="module">
  import { generateImage } from "/scripts/image.js";
  import {
    formatDate,
    convertToDateInputFormat,
    deleteItem,
    handleSubmit as formHandleSubmit,
    resetForm as resetform,
  } from "/scripts/formHandlers.js";

  const voterForm = document.querySelector("#voterForm");
  const saveButton = document.querySelector(".save__button");
  const resetButton = document.querySelector(".reset__button");
  const container = document.querySelector(".container");
  const canvas = document.getElementById("voterCanvas");
  const context = canvas.getContext("2d");
  let currentEditItem = null;

  if (!context) {
    console.error("Canvas context could not be obtained.");
  } else {
    const handleSubmit = async (event) => {
      event.preventDefault();
      const formData = new FormData(voterForm);
      const documentNumber = formData.get("documentNumber")?.trim();
      const holdingPersonName = formData.get("holdingPersonName")?.trim();
      const fathername = formData.get("fathername")?.trim();
      const DOB = formData.get("DOB")?.trim();
      const gender = formData.get("gender")?.trim();

      console.log("Form Data:", {
        documentNumber,
        holdingPersonName,
        DOB,
        gender,
      });
      const formObject = {
        documentNumber,
        holdingPersonName,
        DOB,
        gender,
        fathername,
      };
      console.log(formObject);

      try {
        const response = await fetch("http://localhost:3000/api/save", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(formObject),
        });

        if (response.ok) {
          console.log("Data saved successfully!");
        } else {
          console.error("Failed to save data.");
        }
      } catch (error) {
        console.error("Error saving data:", error);
      }
      formHandleSubmit(event, voterForm, currentEditItem, container, {
        type: "VoterID",
        additionalFields: ["fathername"],
      });

      currentEditItem = null;
    };

    const resetForm = () => {
      resetform(voterForm);
      currentEditItem = null;
    };
    const editItem = (event) => {
      const item = event.target.closest(".item");

      const documentNumber = item.dataset.documentNumber;
      const holdingPersonName = item.dataset.holdingPersonName;
      const gender = item.dataset.gender;
      const DOB = item.dataset.dob;
      const fathername = item.dataset.fathername;

      voterForm.querySelector("#doc-number").value = documentNumber;
      voterForm.querySelector("#doc-name").value = holdingPersonName;
      voterForm.querySelector("#doc-dob").value = convertToDateInputFormat(DOB);
      voterForm.querySelector(`#gender_${gender}`).checked = true;
      voterForm.querySelector("#doc-fathername").value = fathername;

      currentEditItem = item;
    };

    const viewItem = (event) => {
      const item = event.target.closest(".item");

      const voter_detail = {
        number: item.dataset.documentNumber,
        name: item.dataset.holdingPersonName,
        gender: item.dataset.gender === "male" ? "♂" : "♀",
        dob: item.dataset.dob,
        fathername: item.dataset.fathername,
      };

      generateVoterImage(voter_detail);
    };

    const buildDetail = ({ type, detail }) => {
      const details = [
        { label: "Voter ID:", value: detail.number },
        { label: "Name:", value: detail.name },
        {
          label: "Gender:",
          value: detail.gender === "♂" ? "Male" : "Female",
        },
        { label: "Date of Birth:", value: detail.dob },
        { label: "Father's Name:", value: detail.fathername },
      ];
      return { [type]: details };
    };

    const generateVoterImage = (voter_detail) => {
      const data = buildDetail({ type: "voter", detail: voter_detail });

      generateImage({
        title: "--Voter Card--",
        data,
        canvas: document.getElementById("voterCanvas"),
        canvasContainer: document.getElementById("canvasContainer"),
        downloadButton: document.getElementById("downloadButton"),
        backgroundColor: "#fff",
      });
    };

    resetButton.addEventListener("click", resetForm);
    saveButton.addEventListener("click", handleSubmit);
    container.addEventListener("click", (event) => {
      if (event.target.classList.contains("delete__btn")) {
        deleteItem(event);
      } else if (event.target.classList.contains("edit__btn")) {
        editItem(event);
      } else if (event.target.classList.contains("view__btn")) {
        viewItem(event);
      }
    });
  }
</script>
