---
import Main from "../../layouts/Main.astro";
import Footer from "../../layouts/Footer.astro";
import Blogs from "../../content/i18nblog.md";
import "../../styles/blog.css";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("hindi");
---

<Main>
  <Blogs />
  <Footer />
</Main>
