---
import { changeLanguage } from "i18next";
import Main from "../../layouts/Main.astro";
import FamilyHeader from "../../layouts/FamilyHeader.astro";
import Info from "../../components/info.astro";
// import Legend from "../../components/legend.astro";
import Footer from "../../layouts/Footer.astro";
import Card from "../../layouts/Card.astro";
import Dialog from "../../components/dialog.astro";
import "../../styles/global.css";

changeLanguage("hindi");
---

<Main>
  <!-- <FamilyHeader /> -->
  <Dialog />
  <Info />
  <!-- <Legend /> -->
  <Card />
  <Footer />
</Main>
