---
const {
  resetLabel = "Reset",
  saveLabel = "Save",
  resetClass = "reset__button",
  saveClass = "save__button",
} = Astro.props;
---

<div class="buttoncontainer">
  <button type="button" class={resetClass}> {resetLabel} </button>
  <button type="submit" class={saveClass}>{saveLabel} </button>
</div>
