---
const { group } = Astro.props;
---

<div class="button__container">
  {
    group.map((item) => (
      <button type={item.type} class={item.class}>
        {item.name}
      </button>
    ))
  }
</div>
