---
import FamilyHeader from "../layouts/FamilyHeader.astro";
import LightDarkMode from "./lightDarkMode.astro";
---

<style>
    #header-navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #000000;
        padding: 0.5em 2em;
        /* position: fixed; */
        width: 100%;
        z-index: 99;
        border-bottom: 1px solid #fff;
    }

    #navbar {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    button {
        font-family: "Gilroy";
        background-color: #000000;
        color: #ffffff;
        padding: 0.5em 1em;
        border: none;
        border-radius: 10px;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
        box-shadow: rgba(255, 255, 255, 0.886) 0px 3px 8px;
    }

    a {
        text-decoration: none;
        color: #fff;

    }

    #fontSwitcher {
        padding: 0.1em;
        background-color: #000000;
        font-weight: 600;
        text-align: center;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        box-shadow: rgba(255, 255, 255, 0.886) 0px 4px 10px;
    }

    .tree span
    {
        padding-right: 0.8em;
    }

    #know-more
    {
        position: fixed;
        right: 1em;
        z-index: 99;
        background-color: #fff;
        color: #000;
        box-shadow: rgb(148, 148, 148) 0px 4px 10px;
    }

    :root {
    --bg-color: white;
    --text-color: black;
    }

    body.dark-mode {
    --bg-color: black;
    --text-color: white;
    }

    #theme-toggle
  {
    background-color: rgb(23, 23, 23);
    border-radius: 20px;
    padding: 0.2em;
    border: none;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
  }

  #theme-toggle:hover
  {
    transform: scale(1.2);
  }


    button:hover
    {
        transform: scale(1.1);
    }

    @media screen and (max-width: 500px) {
        #header-navbar-container {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
        #navbar {
            justify-content: flex-start;
            gap: 10px;
        }
        button {
            margin: 0;
        }
    }
</style>

<div id="header-navbar-container">
    <button><a href="/">Home</a></button>
    <FamilyHeader />
    <div id="navbar">
        <select id="fontSwitcher">
            <option value="Gilroy">Gilroy</option>
            <option value="Arial, sans-serif">Arial</option>
            <option value="Verdana, sans-serif">Verdana</option>
            <option value="Times New Roman, serif">Times New Roman</option>
            <option value="Courier New, monospace">Courier New</option>
            <option value="Georgia, serif">Georgia</option>
        </select>
        <button id="know-more" onclick="openDialog()">&#x3F;</button>
        <!-- <button id="theme-toggle">&#128161;</button> -->
        <LightDarkMode/>
    </div>
</div>

<dialog id="myDialog">
    <div class="tree">
        <span>&#x1F9EC; : Gotra</span>
        <span>&#x1F549; : Deity</span>
        <span>&#x1F33F; : Caste</span>
    </div>
</dialog>

<script >

const button = document.getElementById("theme-toggle");
  button.addEventListener("click", () => {
    document.body.classList.toggle("dark-mode");
  });


    const dialog = document.getElementById('myDialog');
    function openDialog() {
        dialog.showModal(); // Opens as a modal
    }
    dialog.addEventListener('click', () => dialog.close());

    const fontSwitcher = document.getElementById('fontSwitcher');
    const content = document.querySelector('body');

    fontSwitcher.addEventListener('change', (event) => {
        content.style.fontFamily = event.target.value;
    });
</script>
