---
import "../assets/styles/info.css";
---

<p id="desc">Explore your ancestry and discover your lineage!</p>
<!-- ! Explore the intricate web of our community's heritage with our interactive family tree visualization tool. This tool represents a detailed caste family tree. Each branch expands to reveal associated surnames, along with their respective deity and gotra information. -->
