---
import "../assets/styles/legend.css";
---

<div id="legend">
    <h3>Symbols</h3>
    <div class="tree">
        <span>&#x1F9EC; : Gotra</span>
        <span>&#x1F549; : Deity</span>
        <span>&#x1F33F; : Caste</span>
    </div>
</div>
