---

---

<nav>
  <ul>
    <li><a href="/" class="nav-item">Home</a></li>
    <li><a href="/aadhaar" class="nav-item" id="adhar">Aadhaar</a></li>
    <li><a href="/dl" class="nav-item" id="dl">Driving License</a></li>
    <li><a href="/pan" class="nav-item" id="pan">PAN Card</a></li>
    <li><a href="/voter" class="nav-item" id="voter">Voter ID</a></li>
  </ul>
</nav>
