<div id="stateModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header">
      <h2 id="stateName" style="margin: 0"></h2>
      <button id="copyButton">
        <i class="fas fa-copy"></i> Copy Details
      </button>
    </div>
    <div class="modal-body">
      <div class="details">
        <p><strong>Capital:</strong> <span id="stateCapital"></span></p>
        <p><strong>Area:</strong> <span id="stateArea"></span></p>
        <p><strong>Languages:</strong> <span id="stateLanguages"></span></p>
        <p><strong>Dance Forms:</strong> <span id="stateDance"></span></p>
        <p>
          <strong>Literacy Rate:</strong>
          <span id="stateLiteracy"></span>
        </p>
      </div>
      <div class="description" id="stateDescription"></div>
    </div>
  </div>
</div>
