---
import "../assets/styles/legend.css";
---

<div id="legend">
    <h3>Symbols</h3>
    <div class="tree">
        <span>&#128205 : State</span>
        <span>&#x1F3DB : Capital</span>
        <span>&#x1F5E3 : Languages</span>
    </div>
</div>


