---
import "../assets/styles/info.css";
---


<p style="color: #fff;" id="desc">Explore the States and Union Territories</p>

<!-- Explore the States, their capitals, the prominent languages used and the districts of each states. -->