---
const {
  headers = ["#", "Document", "Info", "Name", "Gender", "DOB", "Actions"],
} = Astro.props;
---

<div class="container">
  <div class="item header">
    {headers.map(header => (<div>{header}</div>))}
  </div>
</div>
