<div class="container">
    <div class="item header">
        <div>#</div>
        <div>Document</div>
        <div>Info</div>
        <div>Name</div>
        <div>Gender</div>
        <div>DOB</div>
        <div>Actions</div>
    </div>
</div>