<div class="gendercontainer">
    <label for="gender" class="gen">Gender</label>
    <div class="g">
      <input type="radio" id="gender_male" name="gender" value="male" required checked>
      <label for="gender_male">Male</label>
      <input type="radio" id="gender_female" name="gender" value="female" required>
      <label for="gender_female">Female</label>
    </div>
  </div>