---
import FamilyHeader from "../layouts/FamilyHeader.astro";
---

<style>
    span {
        padding-right: 1.5em;
    }

    #navbar {
        position: fixed;
        /* top: 0; 
        left: 0; */
        margin: auto;
        width: 100%;
        background-color: #000;
        z-index: 99;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    button {
        font-family: "Gilroy";
        background-color: #fff;
        color: #000;
        /* margin-top: 0.8em; */
        /* margin-right: 1em; */
        /* margin-bottom: 1em; */
        padding: 0.7em;
        border: none;
        border-radius: 10px;
        font-size: 1em;
        font-weight: 900;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: #000;
    }


    #fontSwitcher
    {
        padding: 0;
        /* margin-top: 1em; */
        background-color: #ffffff;
        font-weight: 600;
        text-align: center;
        height: 3em;
        border-radius: 10px;
        box-shadow: rgba(255, 255, 255, 0.886) 0px 2px 5px;
    }


    @media screen and (max-width: 500px) {
        #navbar {
            justify-content: center;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3em;
        }
    }
</style>

<div id="navbar">
    <button><a href="/">Home</a></button>
    <FamilyHeader/>
    <select id="fontSwitcher">
        <option value="Gilroy">Gilroy</option>
        <option value="Arial, sans-serif">Arial</option>
        <option value="Verdana, sans-serif">Verdana</option>
        <option value="Times New Roman, serif">Times New Roman</option>
        <option value="Courier New, monospace">Courier New</option>
        <option value="Georgia, serif">Georgia</option>
    </select>
    <button onclick="openDialog()">&#x3F;</button>
</div>

<dialog id="myDialog">
    <div class="tree">
        <span>&#x1F9EC; : Gotra</span>
        <span>&#x1F549; : Deity</span>
        <span>&#x1F33F; : Caste</span>
    </div>
</dialog>

<script client: only>
    const dialog = document.getElementById('myDialog');
    function openDialog() {
        dialog.showModal(); // Opens as a modal
    }
    dialog.addEventListener('click', () => dialog.close());

    const fontSwitcher = document.getElementById('fontSwitcher');
    const content = document.querySelector('body');

    fontSwitcher.addEventListener('change', (event) => {
        content.style.fontFamily = event.target.value;
    });
</script>