---
import "../styles/info.css";
---


<p id="desc">Welcome to the Family Tree Visualization Tool! Explore the intricate web of our community's heritage with our interactive family tree visualization tool. This tool represents a detailed caste family tree. Each branch expands to reveal associated surnames, along with their respective deity and gotra information.</p>

