---
import "../styles/info.css";
---


<p id="desc">Explore the States and Union Territories</p>

<!-- Explore the States, their capitals, the prominent languages used and the districts of each states. -->