---
import Gender from "../components/Gender.astro";
const { formId, formName, fields, genderLabel, style } = Astro.props;
import InputField from "../components/InputField.astro";
---

<form class="form" id={formId} name={formName} style={style}>
  <div class="container__form">
    {fields.map((field: any) => <InputField field={field} />)}
    {(<Gender />)}
  </div>
</form>
