---

---

<h1 style="margin-bottom: -0.2em; margin-top: 0.2em;" data-i18n="welcome">Welcome</h1>
<h2 data-i18n="title">Recursive Zero's Tree</h2>
<h3 data-i18n="subtitle">Tree Visualizations</h3>

<div class="container">
    <div id="family-box">
      <h4>
        <a href="/family/" target="_blank" data-i18n="family_tree">&#x1F9EC Family Tree Visualization</a>
    </h4>
    </div>
    <div id="state-box">
      <h4>
        <a href="/indian-states/" target="_blank" data-i18n="state_tree">&#x1F30F State Tree Visualization</a>
    </h4>
    </div>
</div>

