body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    padding: 4rem;
}

section {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border: 1px solid #e6e6e6;
    color: #333;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: translateY(-3px); 
}

.item > div {
    flex: 1;
    text-align: center;
}

.item > div:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.delete-btn {
    background-color: #e25b68;
}

.edit-btn {
    background-color: #ffc107;
}

.view-btn {
    background-color: #28a745;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
}

button:hover {
    filter: brightness(90%);
}

.footer {
    background-color: #2f8f98c7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.form {
    display: flex;
    width: 250px;
    font-size: 1.15rem;
    padding: 0.675em 0em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    margin-top: 10px;
}

#documentForm label {
    font-size: 20px;
    font-family: sans-serif;
}

.formContainer {
    width: 30%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}

.formContainer input,
select {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.formContainer input[type="date"] {
    text-transform: uppercase;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

#pan {
    padding: 20px;
    border: 2px solid #007bff;
    background: rgba(150, 196, 225, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(243, 241, 241, 0.1);
}
  #aadhar {
    padding: 20px;
    border: 2px solid #28a745;
    background: rgba(40, 167, 69, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#driver {
    padding: 20px;
    border: 2px solid #f3f707;
    background: rgba(243, 247, 5, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.save-btn {
    background-color: #ff6347; 
    
    color: #fff; 
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
}

.save-btn:hover {
    background-color: #ff4c2c; 
}
@media screen and (max-width: 767px) {
    .formContainer {
      width: 100%;
    }
    .container {
      width: 100%;
    }
    .item {
      width: 100%;
    }
  }
  .label {
    font-weight: lighter; /* Make label text lighter */
  }
  
  .value {
    font-style: italic; /* Make value text italic */
  }
  /* Make label text bold */
  .canvas-label {
    font-weight: bold;
  }
  
  /* Make value text italic */
  .canvas-value {
    font-style: italic;
  }
  .reset-btn {
    background-color: #6c757d; 
    color: #fff; 
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
    margin-top: 10px; 
  }
  
  .reset-btn:hover {
    background-color: #5a6268; 
  }
  
