---
import "../styles/header.css"
---

<div id="header-title">
    <p id="text">&#x950 Societree Visualization</p>
</div>

<style>
    #header-title p {
    white-space: nowrap;
    margin-top: 0;
}


#text
    {
        /* margin-top: 0.5em; */
        color: #7A83F6;
    }
    @media screen and (max-width: 500px)
    {
        #text
        {
            margin-top: 4em;
            font-size: 30px;
        }
    }

@media (max-width: 600px) {
    #header-title p {
        white-space: normal;
    }
}
</style>
