---
import "../styles/header.css"
---

<div id="header-title">
    <p id="text">&#x950 Family Tree Visualization</p>
</div>

<style>
    #header-title p {
    white-space: nowrap;
}

@media (max-width: 600px) {
    #header-title p {
        white-space: normal;
    }
}
</style>
