---
import "../styles/header.css"
---

<style>
    #header-title div {
    white-space: nowrap;
    font-weight: 800;
    /* margin-top: 0; */
}

#text
    {
        /* margin-top: 0.5em; */
        color: #7A83F6;
        /* background-color: #fff;
        border: none; */
    }
    @media screen and (max-width: 500px)
    {
        #text
        {
            margin-top: 4em;
            font-size: 30px;
        }
    }

@media (max-width: 600px) {
    #header-title p {
        white-space: normal;
    }
}
</style>

<div id="header-title">
    <div id="text">&#x950 Societree</div>
</div>


