---
import "../styles/header.css"
---

<div id="header-title">
<p id="text">Map of India</p>
</div>

<style>
    #text
    {
        margin-top: 2em;
    }
    @media screen and (max-width: 500px)
    {
        #text
        {
            margin-top: 4em;
            font-size: 30px;
        }
    }
</style>